# General
.DS_Store
Thumbs.db
*.log
*.tmp
*.bak
*.swp

# Editor directories
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# MikroTik
*.rsc
*.backup

# NazNetLabs Specific
naz-ref-ignored/
**/naz-ref-ignored/
